[submodule "Sibox/Vendor/spdlog"]
	path = Sibox/Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Sibox/Vendor/imgui"]
	path = Sibox/Vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Sibox/Vendor/stb"]
	path = Sibox/Vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "Sibox/Vendor/msdf-atlas-gen"]
	path = Sibox/Vendor/msdf-atlas-gen
	url = https://github.com/Chlumsky/msdf-atlas-gen.git
[submodule "Sibox/Vendor/freetype"]
	path = Sibox/Vendor/freetype
	url = https://github.com/freetype/freetype.git
